.card-c-i {
  display: flex;
  flex-direction: row;
}

.card {
  min-width: 275;
  max-width: 600px;
  margin: auto;
}

.list {
  display: flex; 
  flex-direction: column;
}

.item-enter {
  opacity: 0;
  transform: translateX(-100%);
}
.item-enter-active {
  opacity: 1;
  transform: translateX(0%);
}
.item-exit {
  opacity: 1;
  transform: translateX(0%);
}
.item-exit-active {
  opacity: 0;
  transform: translateX(100%);
}
.item-enter-active,
.item-exit-active{
  transition: opacity 500ms, transform 500ms;
}

.itm-txt {
  font-weight: bold !important;
  cursor: pointer;
  padding-right: 12px;
}